@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-default-100;
  }
}

.text-logo {
  font-family: "Great Vibes";
}

.title {
  span {
    background-color: white;
    width: 100%;
    display: block;
    height: 100%;
  }
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  margin: 0;
}

.app,
#root,
#__next {
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  -webkit-tap-highlight-color: transparent;
}
a,
button,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  &::selection {
    @apply bg-hover-100;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
button {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

::-webkit-scrollbar {
  display: none;
}

.split-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 91px;
  }

  .shape-fill {
    fill: #251a10;
  }
}

.no-scroll {
  overflow: hidden;
}
